# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# PySpark
.sparkStaging/
metastore_db/
derby.log

# Output
output/
*.parquet

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env